@model IEnumerable<BusinessEntities.DeparmentMasterEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <div class="navbar-header" style="margin-top: 22px; margin-bottom: 33px; ">
        @Html.ActionLink("Create New", "CreateDepartment", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

<div class="tbl-header">Department Master</div>
<br />


<table id="table">
    <tr class="head">
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollegeMaster.CollegeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionMaster.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchMaster.BranchName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeMaster.CollegeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionMaster.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchMaster.BranchName)
            </td>

            <td>
                <a href='@Url.Action("UpdateDepartment", "Department",new { id = item.Id })' class="btn btn-primary">EDIT</a>
                <a href='@Url.Action("Delete", "Department",new { id = item.Id })' class="btn btn-danger">DELETE</a>
            </td>
        </tr>
    }

</table>
