@model DataModel.StandardMaster

@{
    ViewBag.Title = "CreateStandard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - K.S.K.W.College Nashik</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<h2>Create Standard</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid" style="background: #fff">
        <div style="margin-top: 5px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="../../DashBoard.aspx"><span class="fa fa-home"></span>HOME</a>
                </li>
                <li class="breadcrumb-item">
                    <a><span class="fa fa-print"></span>Standard List</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Create Standard</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-info" style="margin-top: 0px; ">
            <div class="tbl-header">Standard Master</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <div class="form-group">
                            <label for="">Standard Name<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.StandardName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StandardName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Section Name<span style="color: red"> * </span></label>
                            @Html.DropDownList("SectionId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Branch Name<span style="color: red"> * </span></label>
                            @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group pull-right">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                   
                  
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
