@model DataModel.UserDetailsMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - K.S.K.W.College Nashik</title>
   
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid" style="background: #fff">
        <div style="margin-top: 5px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="../../DashBoard.aspx"><span class="glyphicon glyphicon-home" style=" margin-inline-end: 11px; "></span>HOME</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/UserDetailsMasters/Index"><span class="glyphicon glyphicon-list-alt" style=" margin-inline-end: 11px;"></span>User Details List</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong><span class="glyphicon glyphicon-edit" style=" margin-inline-end: 11px;"></span>Create User</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-info" style="margin-top: 0px; ">
            <div class="tbl-header"><span class="glyphicon glyphicon-lock" style=" margin-inline-end: 11px; "></span>User Details Master</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                       @* @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <div class="form-group">
                            <label for="">Select College<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.CollegeID, ViewBag.CollegeID as SelectList, "Select College", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select College", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Select Branch<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.BranchID, ViewBag.BranchID as SelectList, "Select Branch", new { @class = "form-control" })
                          @*  @Html.ValidationMessageFor(model => model.CollegeID, "Please Select Branch", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">First Name<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Select Section<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionID as SelectList, "Select Section", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select Section", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Teacher ID<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.UniqueId, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.UniqueId, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Middle Name<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="">Select Department<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.DepartmentID, ViewBag.DepartmentID as SelectList, "Select Department", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select Department", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Select Role<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.RoleID, ViewBag.RoleID as SelectList, "Select Role", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select Role", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Last Name<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group" style="margin-top: 9px; ">
                            <label for="">Gender<span style="color: red"> * </span></label><br />
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, true, new { @name = "gender" })
                                Male
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, false, new { @name = "gender" })
                                Female
                            </label>
                        </div>
                        <div>
                          
                            <label for="">Status<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.Status, ViewBag.Status as SelectList, "Select Status", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="">Select State<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.StateId, ViewBag.StateId as SelectList, "Select State", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select State", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Email<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Address<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Select District<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.DistrictId, ViewBag.DistrictId as SelectList, "Select District", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.DistrictId, "Please Select District", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Mobile Number<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Select Country<span style="color: red"> * </span></label>
                            @Html.DropDownListFor(model => model.CountryId, ViewBag.CountryId as SelectList, "Select Department", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CollegeID, "Please Select Country", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group">
                            <label for="">Qualification<span style="color: red"> * </span></label>
                            @Html.EditorFor(model => model.EduQualification, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.EduQualification, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="font-size:xx-large; margin-right:100px">
                    <input type="submit" value="Create" class="btn btn-primary btn-sm btn-block" />
                </div>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
