@model IEnumerable<BusinessEntity.CountryMasterEntity>

@{
    ViewBag.Title = "Country Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <div class="navbar-header" style="margin-top: 22px; margin-bottom: 33px; ">
        @Html.ActionLink("Create New", "CreateCountry", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>


<div class="tbl-header">Country Master</div><br />
<table id="table">
    <tr class="head">
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            <label for="action">Action</label>  

        </th>
    </tr>

        @foreach (var item in Model)
          {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
            @*</tr>
            <tr>*@
                <td>
                    <a href='@Url.Action("UpdateCountry", "Country",new { id = item.Id })' class="btn btn-primary">EDIT</a>
                    <a href='@Url.Action("Delete", "Country",new { id = item.Id })' class="btn btn-danger">DELETE</a>
                    @*<a href='@Url.Action("Details", "Country",new { id = item.Id })' class="btn btn-success">DETAIL</a>*@
                </td>


            </tr>
        }

    </table>



