@model IEnumerable<BusinessEntity.StudentEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
</head>
<div class="container">
    <div class="navbar-header" style="margin-top: 22px; margin-bottom: 33px; ">
        @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

<div class="tbl-header"><span class="glyphicon glyphicon-user" style=" margin-inline-end: 11px; "></span>Studnet Master</div><br />
<table id="table">
    <tr class="head">
        <th>
            @Html.DisplayNameFor(model => model.URNNo)
        </th>
        <th>
          
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
           
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taluka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryMaster.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeparmentMaster.DepartmentName)
        </th>

        <th>
            <p>Division </p>
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.URNNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @if (item.Gender == true)
                {
                    <p>Male </p>
                }
                else
                {
            <p>Female </p>
                    
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Taluka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryMaster.CountryName)
            </td>
            <td>
                @if (item.Flag == 1)
                {
                    <p>Active </p>
                }
                else
                {
                    <p>InActive </p>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeparmentMaster.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionMaster.DivisionName)
            </td>
            <td>
                
                <a href='@Url.Action("Edit", "Student",new { id = item.Id })' ><span class="glyphicon glyphicon-pencil" style="color: green; font-size: 14px; margin-inline: 9px; "></span></a>
                <a href='@Url.Action("Delete", "Delete",new { id = item.Id })' ><span class="glyphicon glyphicon-trash" style="color: red; font-size: 14px;"></span></a>

            </td>
        </tr>
    }

</table>
