<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - K.S.K.W.College Nashik</title>


    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("K.S.K.W.College,Nashik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/College/Index">College</a></li>
                    <li><a href="~/Department/Index">Department</a></li>
                    <li><a href="~/Section/Index">Section</a></li>
                    <li><a href="~/Branch/Index">Branch</a></li>
                    <li><a href="~/DistrictMaster/Index">District</a></li>
                    <li><a href="~/StateMaster/Index">State</a></li>
                    <li><a href="~/Country/Index">Country</a></li>
                    <li><a href="~/Student/Index">Student</a></li>
                    <li><a href="~/Subject/Index">Subject</a></li>
                    <li><a href="~/StandardMasters/Index">Standard</a></li>
                    <li><a href="~/UserDetailsMasters/Index">User Details Master</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - K.S.K.W.College Nashik</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Custome.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
